<p class="links">
	{% if site.social.twitter_username %}<a href="https://www.twitter.com/{{ site.social.twitter }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
	{% if site.social.linkedin_link %}<a href="{{ site.social.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
	{% if site.social.xing_link %}<a href="{{ site.social.xing_link }}" target="_new"><i class="fa fa-xing"></i></a>{% endif %}
	{% if site.social.google_plus_link %}<a href="{{ site.social.google_plus_link }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
	{% if site.social.facebook_link %}<a href="{{ site.social.facebook_link }}" target="_new"><i class="fa fa-facebook"></i></a>{% endif %}
	{% if site.social.github_username %}<a href="https://github.com/{{ site.social.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
	{% if site.social.stackoverflow_link %}<a href="{{ site.social.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
	{% if site.social.instagram_username %}<a href="https://www.instagram.com/{{ site.social.instagram_username }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
	{% if site.social.reddit_username %}<a href="https://www.reddit.com/u/{{ site.social.reddit_username }}" target="_new"><i class="fa fa-reddit-alien"></i></a>{% endif %}
	<a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
